.left-side-filter {
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.8rem;
  font-family: sans-serif;
}
.filter-wrapper {
  gap: 1rem;
}
.filter-wrapper label {
  font-weight: bold;
  font-size: 1.2rem;
}

#range {
  width: 50%;
}

.main-content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 15% 85%;
}

.spac_bord {
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.right-side {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16rem);
  grid-template-rows: repeat(auto-fit, 26rem);
  row-gap: 9rem;
  column-gap: 4rem;
}

.right-side-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, 26rem);
  grid-template-rows: repeat(auto-fit, 16rem);
  row-gap: 1rem;
  column-gap: 1rem;
}

.prange {
  width: 100%;
}

select {
  width: 100%;
}

.right-side-main {
  display: grid;
  grid-template-rows: 3% 97%;
  margin-left:0.3rem;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}

@media only screen and (max-width:868px){
  .left-side-filter{
    display: none;
  }
}