.header-bar {
  align-items: center;
  justify-content: space-around;
  background-color:var(--white-color); 
  color:var(--head-primary);
  position: fixed;
  width: 100%;
  top: 0;
  padding:1rem;
  z-index: 100;
}

.header-left {
  width: 20rem;
  justify-content: space-around;
  align-items: center;
}

.web-logo{
align-items: center;
color: var(--btn-primary-color);
gap: 0.5rem;
font-size: 2rem;
}

.web-logo-icon{
  font-size: 2.5rem;
}

.header-mid {
  background-color: var(--white-color);
  color: var(--head-primary);
  width: 20rem;
  border: 0.1rem solid var(--head-primary);
  border-radius:0.4rem;
  padding: 0.2rem;
}

.search-bar {
  width: 100%;
  border: none;
}

.header-right{
  width: 22rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 30%;
}

.cart{
  font-size: 1rem;
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
}

.search-bar:focus{
  outline: none;
}

.header-icon {
  font-size: 2rem;
  color: var(--head-primary);
  cursor: pointer;
}

.footer-block{
  cursor:pointer;
}

.footer-social{
  color:var(--hmpg-secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-icon{
  color:var(--hmpg-secondary-color);
  cursor:pointer;
}

.footer-icon:hover{
  color:var(--secondary-color);
}