@import url(./header.css);
@import url(./homepg.css);
@import url(./filter.css);
@import url(./wishlist.css);
@import url(./mycart.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --hmpg-secondary-color: #455a64;
  --head-primary :#9A9A9A;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-it {
  align-items: center;
  justify-content: center;
}

.gap-btwn{
  gap: 1rem;
}

.spc-btwn {
  justify-content: space-between;
}


