@import url(./header.css);
@import url(./homepg.css);
@import url(./filter.css);
@import url(./wishlist.css);
@import url(./mycart.css);
@import url(./authenticate.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --head-primary :#9A9A9A;
  --hmpg-secondary-color: #455a64;
}



