.cart-container {
  margin: 5rem;
  text-align: center;
}

.cart-heading {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 1rem;
  margin: 2rem;
}

.cart {
  text-decoration: none;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--head-primary);
}
.order-detail-wrap {
  width: 22rem;
  height: 22rem;
  background-color: var(--primary-color);
  border: 1px solid black;
  padding: 1rem;
}

.cart-head {
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
}

.cart-total {
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.7rem 0;
  font-weight: 900;
  font-size: 1.2rem;
}

.cart-place {
  margin-left: 2rem;
}

.cart-save {
  text-align: left;
}
