.wishlist-wrap{
margin: 5rem;
text-align: center;

}

.wish-abs{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: red;
    border-radius:50%;
    padding: 2px;
    background-color:white;
}

.wishlist-head{
border-bottom: 1px solid var(--secondary-color);
padding-bottom: 1rem;
}

.wishl-icon{
    cursor: pointer;
}

.fav-icon{
    font-size: 2.5rem;
}
.red-clr{
    padding: 0.6rem;
    font-size: 1rem;
    background-color:var( --btn-primary-color);

}